.info-col { float: left; width: 132px; height: 100%; padding: 20px 0 0 0; }
.info-col h2 { text-align: center; font-size: 25px; padding: 25px 0; background-color: rgba(0,0,0,.3) }

.image { height: 100px; text-indent: -9999px; display: block; border-right: 1px solid white; }

.plasma { background: url(../images/1.jpg) center center no-repeat; }

dt { padding: 5px; background: #900; color: black; border-bottom: 1px solid white; border-right: 1px solid white; }
dd { position: absolute; left: -9999px; top: -9999px; width: 100%; background: #900; padding: 10px; color: black; border-right: 1px solid white; margin-left: 0px;}

dt:nth-of-type(1) { background: #e8f3ff; }
dd:nth-of-type(1) { background: #e8f3ff; }

dt:nth-of-type(2) { background: #ffffff; }
dd:nth-of-type(2) { background: #ffffff; }

dt:nth-of-type(3) { background: #a9daff; }
dd:nth-of-type(3) { background: #a9daff; }

dt:nth-of-type(4) { background: #69b7ff; }
dd:nth-of-type(4) { background: #69b7ff; }

dt:nth-of-type(5) { background: #508df4; }
dd:nth-of-type(5) { background: #508df4; }

dt:nth-of-type(6) { background: #e8f3ff; }
dd:nth-of-type(6) { background: #e8f3ff; }

.curCol { -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2); z-index: 1; position: relative; }
.page-wrap{
	height:580px ;
	 background-color: rgb(220,220,240);
}