:placeholder-shown{
color : aqua ;
}

.form-wrapper input[type="submit"] {
  display: block;
  background: #aaa;
  color: #aaa;
  border: none;
  padding: 10px 20px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  width: 20em;
  height: 2em;
}
.topic
{
color:white;
}
.my
{
color:rgb(179, 179, 179);
}

label {

display: inline-block;
color: #fff;
}
.others 
{
color:black;
}